// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { buildHeaders } from '../../../internal/headers';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

/**
 * This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/machines-resource/) for details about using the Machines resource.
 */
export class LeaseResource extends APIResource {
  /**
   * Create a lease for a specific Machine within an app using the details provided
   * in the request body. Machine leases can be used to obtain an exclusive lock on
   * modifying a Machine.
   */
  create(machineID: string, params: LeaseCreateParams, options?: RequestOptions): APIPromise<Lease> {
    const { app_name, 'fly-machine-lease-nonce': flyMachineLeaseNonce, ...body } = params;
    return this._client.post(path`/apps/${app_name}/machines/${machineID}/lease`, {
      body,
      ...options,
      headers: buildHeaders([
        {
          ...(flyMachineLeaseNonce != null ? { 'fly-machine-lease-nonce': flyMachineLeaseNonce } : undefined),
        },
        options?.headers,
      ]),
    });
  }

  /**
   * Retrieve the current lease of a specific Machine within an app. Machine leases
   * can be used to obtain an exclusive lock on modifying a Machine.
   */
  retrieve(machineID: string, params: LeaseRetrieveParams, options?: RequestOptions): APIPromise<Lease> {
    const { app_name } = params;
    return this._client.get(path`/apps/${app_name}/machines/${machineID}/lease`, options);
  }

  /**
   * Release the lease of a specific Machine within an app. Machine leases can be
   * used to obtain an exclusive lock on modifying a Machine.
   */
  release(machineID: string, params: LeaseReleaseParams, options?: RequestOptions): APIPromise<void> {
    const { app_name, 'fly-machine-lease-nonce': flyMachineLeaseNonce } = params;
    return this._client.delete(path`/apps/${app_name}/machines/${machineID}/lease`, {
      ...options,
      headers: buildHeaders([
        { Accept: '*/*', 'fly-machine-lease-nonce': flyMachineLeaseNonce },
        options?.headers,
      ]),
    });
  }
}

export interface Lease {
  /**
   * Description or reason for the Lease.
   */
  description?: string;

  /**
   * ExpiresAt is the unix timestamp in UTC to denote when the Lease will no longer
   * be valid.
   */
  expires_at?: number;

  /**
   * Nonce is the unique ID autogenerated and associated with the Lease.
   */
  nonce?: string;

  /**
   * Owner is the user identifier which acquired the Lease.
   */
  owner?: string;

  /**
   * Machine version
   */
  version?: string;
}

export interface LeaseCreateParams {
  /**
   * Path param: Fly App Name
   */
  app_name: string;

  /**
   * Body param
   */
  description?: string;

  /**
   * Body param: seconds lease will be valid
   */
  ttl?: number;

  /**
   * Header param: Existing lease nonce to refresh by ttl, empty or non-existent to
   * create a new lease
   */
  'fly-machine-lease-nonce'?: string;
}

export interface LeaseRetrieveParams {
  /**
   * Fly App Name
   */
  app_name: string;
}

export interface LeaseReleaseParams {
  /**
   * Path param: Fly App Name
   */
  app_name: string;

  /**
   * Header param: Existing lease nonce
   */
  'fly-machine-lease-nonce': string;
}

export declare namespace LeaseResource {
  export {
    type Lease as Lease,
    type LeaseCreateParams as LeaseCreateParams,
    type LeaseRetrieveParams as LeaseRetrieveParams,
    type LeaseReleaseParams as LeaseReleaseParams,
  };
}
